@{
    ViewBag.Title = "Home";
}

<style type="text/css">
        .backimage
        {
            background-image: url('bg.jpg');
            background-repeat: repeat-x;
        }
        
        .headerimage
        {
            background-image: url('123.png');
        }
        
        .clear
        {
            clear: both;
        }
        .backImage1
        {
            background-image: url('mid-body-bg.png');
            background-repeat: repeat-x;
        }
        
        .headerbackimage
        {
            background-image: url('header-bg.png');
            background-repeat: repeat-x;
        }
        
        .footerImage
        {
            background-image: url('footer-bg.png');
            background-repeat: repeat-x;
        }
        .papperTop
        {
            background-image: url('paper-top.png');
            background-repeat: no-repeat;
            margin-top: -25px;
            height: 82px;
            position: relative;
        }
        .paperbottom
        {
            background-image: url('paper-bottom.jpg');
            background-repeat: no-repeat;
            height: 33px;
        }
        .paper-body p
        {
            color: #5F676B;
            margin: 0 auto;
            width: 660px;
        }
        
        .paper-body
        {
            background: url('paper-body.png');
            width: 820px;
        }
        
        .font1
        {
            font-family: arial;
            font-size: 46px;
            float: left;
            width: 589px;
            margin-top: -5px;
        }
        
        
        
    </style>
    <div style="width: 100%; height: 675px; vertical-align: top">
<div style="width: 100%; height: 50px; background-color: #111111"></div>
<div class="headerbackimage" style="height: 100px; width: 100%">
            <div style="height: 100px; display: table-cell; width: 330px;">
            </div>
            <div style="width: 50%; display: table-cell; width: 890px;">
                <div align="left" style="display: table-cell">
                    <img style="margin-top: 21px; float: left; margin-left: -18px;" src="../../Images/Logo1.png" alt="Company Name" />
                    <img src="../../Images/header-divider.png" alt="divider" />
                </div>
                <div style="display: table-cell; font-family: Verdana; font-size: 12px;">
                    <ul style="float: left; margin-top: -68px; list-style: none; margin-left: -32px;">
                        <!-- YOUR CONTACT INFO -->
                        <li style="color: #5F676B;"><span style="color: #5C7A95;">Phone</span> &nbsp;&nbsp;
                            562-207-1600</li>
                        <!-- YOUR CONTACT INFO -->
                        <li style="margin-top: 5px; color: #5F676B;"><span style="color: #5C7A95;">E-mail</span>
                            &nbsp;&nbsp; info@entrustsoft.com</li>
                    </ul>
                </div>
            </div>
            <div style="height: 100px; display: table-cell; width: 330px;">
            </div>
        </div>
               
        </div>